.divhead h1 {
  margin-bottom: 10vh;
}

.functionblock,
.container1 {
  width: 30vw;
  border: 2px solid pink;
}
.container1 {
  position: absolute;
  top: 36vh;
  right: 8vw;
}
.functionblock {
  position: absolute;
  top: 36vh;
  left: 10vw;
}
.extcss {
  font-size: 14px;
  color: blue;
}
.display button,
.displayclassbtn button {
  width: 30vw;
  height: 6vh;
  border-radius: 6vh;
  &:hover {
    background: linear-gradient(45deg, #f15523, #ef3224, #7c3697);
  }
}

.display button {
  position: absolute;
  top: 18vh;
  left: 10vw;
  cursor: pointer;
}

.displayclassbtn button {
  position: absolute;
  top: 18vh;
  right: 10vw;
  cursor: pointer;
}
